* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#ticker {
    position: relative;
    overflow-x: hidden;
    height: 110px;
}
#headlines {
    white-space: nowrap;
    position: absolute;
    border-bottom: 1px solid black;
    padding: 10px 0;
    left: -100%;
}

#headlines a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
}

#headlines a img {
    width: 20px;
}

#headlines a:hover {
    text-decoration: underline;
}
