{{#project}}
    <div class="page-container">
        <div class="project-desc">
            <h3>{{title}}</h3>
            <p>{{desc}}</p>
            <a href="/{{directory}}"> Link</a>
        </div>

        <div class="project-img">
            <img src="/{{img_directory}}" alt="" />
        </div>
    </div>
{{/project}}