<header>
    <ul class="nav-left">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <a href="/"><img src="./public/portfolio-s.svg" alt="" /></a>
    <ul class="nav-right">
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contacts</a></li>
    </ul>
</header>

<div class="project-desc">
    <h3>{{title}}</h3>
    <p>{{desc}}</p>
    <a href="{{directory}}"> Link</a>
</div>

<div class="project-img">
    <img src="{{img_directory}}" alt="" />
</div>