* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---- Header styling ---- */
#header {
    height: 100px;
    position: relative;
}

.logo img {
    height: 40px;
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.hamburger-menu {
    position: absolute;
    top: 30px;
    right: 30px;
}

.hamburger-menu button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: unset;
    border-radius: none;
    cursor: pointer;
}

.hamburger-menu button img {
    height: 40px;
}

/* --- Main styling --- */

.img-container {
    width: 100vw;
    height: 88vh;
    background: url(./assets/spices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-container h2 {
    color: white;
    font-size: 3.7rem;
    font-style: italic;
    text-align: center;
}

.title-container button {
    width: 25%;
    height: 60px;
    display: block;
    margin: 30px auto;
    border-radius: 50px;
    font-size: 2.3rem;
    color: rgb(195, 127, 0);
    background-color: rgb(255, 208, 0);
    border: solid 4px rgb(195, 127, 0);
    cursor: pointer;
}

/* ----- Features section ----- */

.features {
    background-color: lightgrey;
}

.features-container {
    padding: 80px 0;
}

.features .card {
    width: 35vw;
    height: 30%;
    margin: 50px 7%;
}

.features-container .card:nth-child(1),
.card:nth-child(3) {
    float: left;
}
.features-container .card:nth-child(2),
.card:nth-child(4) {
    float: right;
}

.features .desc-container {
    width: 84%;
    float: right;
}
.features .desc-container h4 {
    font-size: 1.7rem;
}
.features .desc-container p {
    font-size: 1.4rem;
}

.features .card img {
    width: 65px;
}

.clear-both {
    clear: both;
}

footer .footer-container {
    background-color: rgb(103, 103, 103);
    color: white;
    padding: 15px;
    padding-left: 50px;
}
