* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: "Poppins", sans-serif;
}

.logo-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-container img {
    width: 15%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------ Search Area -------- */
.search-area {
    margin-top: 40px;
    width: 60%;
    height: 45px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-area input {
    width: 78%;
    border: none;
    height: 30px;
    font-size: 1rem;
}

.search-area input:focus,
.search-area select {
    border: none;
    outline: none;
}

.search-area select {
    width: 10%;
    border: none;
    height: 30px;
    font-size: 1rem;
}

.search-area button {
    background-color: unset;
    border: none;
    cursor: pointer;
}
.search-area button img {
    height: 35px;
    margin-top: 4px;
}

/* ------------ Results Area ----------- */

.search-title-container {
    margin: auto;
    padding: 40px 10px;
    width: 95%;
}

.search-title {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.results-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
}

.outer-card {
    width: 19%;
    height: 360px;
    background-color: #1f1f1f;
    border-radius: 7px;
    margin-bottom: 15px;
}
.inner-card {
    margin: 15px;
    max-height: 200px;
}
.card-img {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border-radius: 5px;
}

.card-img img {
    width: 100%;
}

.card-desc {
    width: 100%;
}
.card-desc a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    margin: 10px 0px;
    display: block;
}

.card-desc p {
    color: rgb(118, 118, 118);
    font-size: 1rem;
    font-weight: 300;
}

.artist-play-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #1ed760;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn img {
    margin-top: 7px;
    width: 20px;
}

/* --- Load More --- */

.load-more {
    display: block;
    margin: 40px auto;
    background-color: white;
    width: 10%;
    height: 40px;
    border-radius: 40px;
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}

/* ---- Loading spinner ---- */

.lds-facebook {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 10px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
